body {
    margin: 0px;
    width: 100%;
}

#container {
    /* width: 100%; */
    margin: 15px 25px;
    padding: 5px 20px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    border-width: 1px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

article {
    order: 1;
    border: 1px solid rgb(184, 184, 184);
    padding: ;
}
#title {
    font-size: xx-large;
    font-weight: 500;
}

#info {
    order: 0;
    width: 75%;
}
